<div class="stranica">
  <div class="forma">
    <h2 class="naslov">Registracija</h2>
    <form (ngSubmit)="onSubmit($event)">
      <input type="text" name="ime" id="ime" placeholder="ime"/>
      <input type="text" name="prezime" id="prezime" placeholder="prezime"/>
      <input type="password" name="lozinka" id="lozinka" placeholder="lozinka" />
      <input type="email" name="email" id="email" placeholder="email"/>
      <input type="text" name="korime" id="korime" placeholder="korime" />
      <input id="Registriraj" type="submit" value="Registriraj se" />
    </form> 
  </div>
</div>
