<div class='glavniDio'>
  <div class='lijeviDio'>
    <img id="slika" src=''>
  </div>
  <div class='desniDio'>
    <h1></h1>
    <div class='detalji'>
      <ul>
        <li id="listaGodina"></li>
        <li id="listaTrajanje"></li>
        <li id="listaStatus"></li>
        <li id="listaOcjena"></li>
        <li id="listaJezik"></li>
      </ul>
      <div class='radnja'>
        <p id="noviTagline"></p>
      </div>
      <div class='radnja'>
        <p id="noviOpis"></p>
        <p id="ostalo"></p>
      </div>
    </div>
  </div>
</div>