<div class="stranica">
  <div class="forma">
    <h2 class="naslov">Profil</h2>
    <form>
      <input type="text" name="ime" id="ime" placeholder="ime"/>
      <input type="text" name="prezime" id="prezime" placeholder="prezime"/>
      <input type="password" name="lozinka" id="lozinka" placeholder="lozinka" />
      <input type="email" name="email" id="email" placeholder="email"/>
      <input type="text" name="korime" id="korime" placeholder="korime" />
      <button id="Azuriraj" type="button" (click)="azurirajPodatke($event)">Ažuriraj podatke</button>
    </form> 
  </div>
</div>